<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="text-center">The Odd and Even Game</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button class="btn btn-success text-center" (click)="startTheGame()">Start Game</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button class="btn btn-danger text-center" (click)="stopTheGame()">Stop Game</button>
    </div>
  </div>
</div>
<hr>


<!--(startGame)=""-->
<!--(stopGame)=""-->
